@CHARSET "UTF-8";

.content {
	padding-top:0;
}

.bg-color-primary {
	display:none;
}

.slrn-back {
}
.slrn-back__link {
	font-weight: bold;
	padding: 0.66em;
	color: #FFF;
	display: block;
	text-decoration: none;
}
.slrn-back__link:hover {
	color: #FFF;
}
.no_underline,.no_underline:hover{
	text-decoration: none;
	margin-right: 5px;
}

.exo_title {
	text-transform: uppercase;
	color:#999;
	font-weight: bold;
	margin-top: 20px;
}

h1 {
	font-size: 28px;
	color: #000;
	margin: 10px 0;
}
h3 {
	font-size: 14px;
	color: #000;
	margin: 10px 0 20px 10px;
	font-weight: bold;
	text-transform: uppercase;
}
.list_responses{
	font-size: 12px;
	color: #000;
	padding: 10px 0 10px 10px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 20px 0;
}
.exo_time {
	font-weight: bold;
}
.exo_time__span {
	line-height: 2.2em;
	background-image: url(../images/clock-24.png);
	display: block;
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 30px;
}
.slr__line {
	margin: 10px 0;
}
.slr__line__h3 {
	font-size: 16px;
	color: #000;
	margin: 0;
}
.slr__line__h3.success, .slr__line__h3.fail{
	background-position: 97% 0;
	background-repeat: no-repeat;
	height: 26px;
}
.slr__line__h3.success {
	background-image: url(../images/response_ok.png);
}
.slr__line__h3.fail {
	background-image: url(../images/response_ko.png);
}

.slr__line__answer_success {
	color:#ABC143;
}
.slr__line__answer_fail, a.red {
	color:#D90045;
}

.slr__line__answer__link, .slr__line__answer__link:hover,
.goToBadges, .goToBadges:hover{
	color:#D90045;
}
#finalLabel{
	font-size: 24px;
}
#paperFinalScore{
	display: inline;
	font-size: 30px;
	color: #ABC143;
}
.tryAgain{
	font-size: 16px;
	margin-bottom: 10px;
}

.table-solerni thead > tr > th,
.table-solerni thead > tr > td,
.table-solerni tbody > tr > th,
.table-solerni tbody > tr > td,
.table-solerni tfoot > tr > th,
.table-solerni tfoot > tr > td {
	border:0 none;
}


.table-solerni thead > tr > th,
.table-solerni thead > tr > td,
.table-solerni tbody > tr > th,
.table-solerni tfoot > tr > th{
	color: #666;
	padding: 10px 0;
	background-color: #EEEEEF;
}

.paper_desc{
	font-size: 20px;
}

.dropdown-menu > li > a.colorheader {
	color:#FFFFFF ;	
	background-color:transparent ;
}
.dropdown-menu > li > a.colorheader:hover, .dropdown-menu > li > a.colorheader:focus {
	background-color: #385268;
	border-color: #385268;
}
.btn-colorheader, .dropdown-toggle.btn-colorheader {
	background-color: #4B667C;
	border-color: #4B667C;
	color:#FFFFFF;	
}

.btn-colorheader:hover, .btn-colorheader:focus, .btn-colorheader:active, .btn-colorheader.active, .open .dropdown-toggle.btn-colorheader {
	background-color: #385268;
	border-color: #385268;
}

.slrn_lessonTitle{
	text-transform: uppercase;
	margin: 30px 0 0 0;
}
.meta{
	font-weight: 700;	
}

